{% extends "base.html" %}

{% block content %}
<div class='modal-container'>
    <form method='POST'>
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ folder.name }}"?</p>
        <div class='btn-container'>
            <button type='submit'>Yes</button>
            {% if folder.parent %}
                <a href='{% url "folder-open" folder.parent.id %}'>
                    <button>back</back>
                </a>
            {% else %}
                <a href='{% url "home" %}'>
                    <button>back</button>
                </a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock  %}