{% extends "base.html" %}

{% block content%}
    <h2>My Directory</h2>
    <div class='button-container'>
        <button class="create-folder">New Folder</button>
    </div>
    <div class='utility'>
        <select name="sort" id="sort-list" onchange="location = finalurl()" style="margin-left: auto;">
            <option value="" id="placeholder" disabled selected hidden>Sort</option>
            <option id="name" value="name">AtoZ</option>
            <option id="-name" value="-name">ZtoA</option>
            <option id="-date" value="-date">Newest</option>
            <option id="date" value="date">Oldest</option>
        </select>
    </div>
    <h3>Folders</h3>
    <div class='folders'>
        {% if folders %}
            {% for folder in folders  %}
            <div class='folder'>
                <a id='open' href='{% url 'folder-open' folder.id %}'>
                    <i class="fa-solid fa-folder fa-10x"></i>
                    <span>{{ folder.name }}</span>
                </a>
                <div class='button-container'>
                    <a id='edit' href='{% url 'folder-edit' folder.id %}'><button name='edit'>Edit</button></a>
                    <a id='delete' href='{% url 'folder-delete' folder.id %}'><button name='delete'>Delete</button></a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <div class='folder shared-files'>
            <a id='open' href='{% url 'folder-shared-to-you' %}'> 
                <i class="fa-solid fa-folder fa-10x"></i>
                <span>Shared to you</span>
            </a>
        </div>
    </div>
    <div class='form-container folder-form'>
        <div class='form-frame'>
            <h4>New Folder</h4>
            <form method="POST" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <div class='button-container'>
                    <input type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>
    
    <script>
      // for getting the sorting status to be displayed in sorting dropdown placeholder
      function get(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))  //location.search give query sling part
          return decodeURIComponent(name[1]);
      }
    
      if(get('ordering'))
      document.getElementById('placeholder').innerHTML = "Sort: " + document.getElementById(get('ordering')).innerHTML
    
      // for getting url after applying ordering
      function finalurl() {
        var url = new URL(window.location.href)
        var search_params = url.searchParams
        search_params.set('ordering', document.getElementById("sort-list").value)
        url.search = search_params.toString()
        var new_url = url.toString()
        return new_url
      }
    
    </script>
{% endblock content %}
