{% extends "base.html" %}

{% block content%}
<div class='main-container'>
    <h2>My Directory</h2>
    <div class='utility'>
        <select name="sort" id="sort-list" onchange="location = finalurl()" style="margin-left: auto;">
            <option value="" id="placeholder" disabled selected hidden>Sort</option>
            <option id="name" value="name">AtoZ</option>
            <option id="-name" value="-name">ZtoA</option>
            <option id="-date_created" value="-date_created">Newest</option>
            <option id="date_created" value="date_created">Oldest</option>
        </select>
    </div>
    <button>New Folder</button>
    {% if folders %}
        {% for folder in folders  %}
        <div class='folder'>
            <a id='open' href='{% url 'folder-open' folder.id %}'> {{ folder.name }} </a>
            <a id='edit' href='{% url 'folder-edit' folder.id %}'><button name='edit'>Edit</button></a>
            <a id='delete' href='{% url 'folder-delete' folder.id %}'><button name='delete'>Delete</button></a>
        </div>
        {% endfor %}
    {% endif %}
</div>
<div class='modal-container'>
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>
{% endblock content %}

{% block js %}
<script>
  // for getting the sorting status to be displayed in sorting dropdown placeholder
  function get(name) {
    if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))  //location.search give query sling part
      return decodeURIComponent(name[1]);
  }

  if(get('ordering'))
  document.getElementById('placeholder').innerHTML = "Sort: " + document.getElementById(get('ordering')).innerHTML

  // for getting url after applying ordering
  function finalurl() {
    var url = new URL(window.location.href)
    var search_params = url.searchParams
    search_params.set('ordering', document.getElementById("sort-list").value)
    url.search = search_params.toString()
    var new_url = url.toString()
    return new_url
  }

</script>
{% endblock %}