{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="notifications-page">
    <div class="img-container">
        <img src='{% static "img/edutrackvault2.png" %}' alt="App Logo">
    </div>
    <h2>Notifications</h2>
    <div class="dashboards">
        <div class="dashboard">
            <h4>Shared to You</h4>
            <ul class="updates">
                <li>Admin shared a document.</li>
            </ul>
        </div>
        <div class="dashboard">
            <h4>App Updates</h4>
            <ul class="updates">
                <li>Latest version is now available.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}