{% extends "base.html" %}

{% block content%}
  {% if folder.parent %}<a id='open' href='{% url 'folder-open' folder.parent.id %}'> {{ folder.parent.name }} </a>{% else %}<a id='back' href={% url "directory" %}>Main Directory</a>{% endif %}
  <h2>Shared to You</h2>
  <div class='utility'>
      <select name="sort" id="sort-list" onchange="location = finalurl()" style="margin-left: auto;">
          <option value="" id="placeholder" disabled selected hidden>Sort</option>
          <option id="name" value="name">AtoZ</option>
          <option id="-name" value="-name">ZtoA</option>
          <option id="-date" value="-date">Newest</option>
          <option id="date" value="date">Oldest</option>
      </select>
  </div>
  <h3>Files</h3>
  {% if files %}
  <div class='files'>
    {% for file in files  %}
    <div class='file'>
      <a id='open' href='#'>
          <i class="fa-solid fa-file fa-10x"></i>
          <span>{{ file.name }}</span>
          <span>from</span>
          <span>{{file.folder.name}} - {{file.owner.username | title}}</span>
      </a>
        <a id='download' href='{% url 'file-download' file.id %}' download><button name='edit'>Download</button></a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No files shared to you.</p>
  {% endif %}

<script>
  // for getting the sorting status to be displayed in sorting dropdown placeholder
  function get(name) {
    if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))  //location.search give query sling part
      return decodeURIComponent(name[1]);
  }

  if(get('ordering'))
  document.getElementById('placeholder').innerHTML = "Sort: " + document.getElementById(get('ordering')).innerHTML

  // for getting url after applying ordering
  function finalurl() {
    var url = new URL(window.location.href)
    var search_params = url.searchParams
    search_params.set('ordering', document.getElementById("sort-list").value)
    url.search = search_params.toString()
    var new_url = url.toString()
    return new_url
  }

</script>
{% endblock content %}
