{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    <title>{% if title %} {{title}} {% else %} Edutrack Vault {% endif %}</title>
    <script src="https://kit.fontawesome.com/89a2f54080.js" crossorigin="anonymous"></script>
</head>
<body class='menu-is-open'>
  <p>
    {% block nav %}
      {% if request.user.is_authenticated %}
      <div class="menu-button menu-open">
          <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="nav-container">
          <nav>
              <div class="menu-button menu-close">
                  <i class="fa fa-bars fa-2x" style="color: #ffffff;"></i>
              </div>
              <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'profile' %}">Profile</a></li>
                  <li><a href="{% url 'directory' %}">My Directory</a></li>
                  <li><a href="{% url 'uploads' %}">My Uploads</a></li>
                  <li><a href="{% url 'myactions' %}">My Actions</a></li>
                  <li><a href="{% url 'notifications' %}">Notifications</a></li>
                  <li><a href="{% url 'settings' %}">Settings</a></li>
              </ul>

              <a href="{% url 'logout' %}" id="sign-out">
                  <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
                  Sign Out
              </a>
          </nav>
      </div>
      {% endif %}
    {% endblock nav %}
  </p>
  <div class="main-container">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <h4{% if message.tags %} class="{{message.tags}}" {% endif %}>
          {{message}}
        </h4>
      {% endfor %}
    </ul>
    {% endif %}
    <main>
    {% block content %}
    {% endblock content %}
    </main>
  </div>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>